@model WebNote.Entity.Note

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Редагування нотатки</h2>

            @using (Html.BeginForm("Edit", "Notes", new { noteId = Model.Id }))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Title)
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @Value = Model.Title })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Content)
                    @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @Value = Model.Content })
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Зберегти</button>
                </div>
            }
        </div>
    </div>
</div>
